.login-page {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #00000033;
  border-radius: 10px;
  padding: 50px;
}

.left-login-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-login-container > h2 {
  font-size: 40px;
  font-weight: 400;
}

.left-login-container > h2 > span {
  font-size: 40px;
  color: var(--c-color-1);
  font-weight: 600;
  animation: blurAnimation 2s ease-in-out infinite;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  font-size: 40px;
  border-right: 3px solid #2c2c2c;
  animation: typing 2s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.right-login-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formlogin {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputs {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  position: absolute;
  left: 5px;
}

.input-icons > input {
  position: relative;
  width: 100%;
  height: 40px;
  background: transparent;
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: var(--c-color-1);
  font-size: 1rem;
  font-weight: 600;
  padding-left: 2rem;
}

.input-icons > input::placeholder {
  color: rgb(233, 233, 233);
  font-size: 1rem;
  font-weight: 400;
}

.input-icons > input:-webkit-autofill,
.input-icons > input :-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.input-icons > input:focus {
  outline: none;
  border: 1px solid var(--c-color-1);
  color: var(--c-color-1);
}

.error-input {
  border: 2px solid rgb(109, 11, 11) !important;
}

.error-login-message {
  color: rgb(109, 11, 11);
  font-size: 1rem;
  font-weight: 600;
}

.signInButton {
  width: 100%;
  height: 40px;
  background: var(--c-color-1);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.signInButton:hover {
  background: #7f8108;
  transform: scale(1.05);
}

#copyright {
  position: absolute;
  text-align: center;
  bottom: 0;
  color: white;
}

#visibility {
  position: absolute;
  text-align: end;
  background: transparent;
  border: none;
  margin-top: 5px;
  right: 5px;
}

#visibility:hover {
  cursor: pointer;
  color: var(--c-color-1);
}

@media (768px <= width < 1024px) {
  .login-container {
    width: 60%;
    flex-direction: column;
  }
  .left-login-container {
    width: 90%;
  }
  .right-login-container {
    width: 100%;
  }
  .left-login-container > h2,
  .left-login-container > h2 > span {
    font-size: 35px;
    font-weight: 600;
  }
}

@media (width < 768px) {
  .login-container {
    width: 90%;
    flex-direction: column;
  }
  .left-login-container {
    width: 95%;
  }
  .left-login-container > h2,
  .left-login-container > h2 > span {
    font-size: 25px;
    font-weight: 600;
  }
  .right-login-container {
    width: 100%;
  }
  .title {
    border-right: 2px solid #2c2c2c;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}
