.login {
  width: 100%;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.login h2 {
  font-size: 30px;
  font-weight: 400;
}
.login h2 span {
  color: var(--c-color-1);
}

.formlogin {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: rgb(109, 11, 11);
  font-size: 15px;
}

.errorPassword{
  font-size: 11px;
  text-align: justify;
}

.inputs {
  height: 50px;
  position: relative;
}

.icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 2px;
}
.inputs input {
  position: relative;
  width: 100%;
  height: 35px;
  background: transparent;
  padding: 5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: var(--c-color-1);
  padding-left: 2rem;
}
.icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 2px;
}

.inputs input::placeholder {
  color: rgb(233, 233, 233);
}

/*so as not to change the style of the suggestion list*/
.inputs input:-webkit-autofill,
.inputs input :-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.inputs input:focus {
  outline: none;
  border: 1px solid var(--c-color-1);
  color: var(--c-color-1);
}

.signInButton {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  height: 35px;
  border: none;
  color: var(--c-color-1);
  padding: 5px;
  margin-top: 20px;
}

.signInButton:hover {
  cursor: pointer;
  background-color: var(--c-color-1);
  color: white;
}

#copyright {
  text-align: center;
  color: white;
}

#visibility {
  position: absolute;
  text-align: end;
  background: transparent;
  border: none;
  margin-top: 5px;
  right: 5px;
}

#visibility:hover {
  cursor: pointer;
  color: var(--c-color-1);
}
