nav > ul > li {
  width: 100%;
  margin: 0;
  padding: 0;
}

nav > ul > li > .navlink {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 15px 5px;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.5rem;
  font-weight: 600;
  background: none;
  border: none;
  border-bottom: 1px solid #f1f1f1;
  transition: all 0.3s ease;
}

nav > ul > li > .navlink:hover {
  cursor: pointer;
  background: #f1f1f1;
  color: #2e2e2e;
}

nav > ul > li > .logout {
  background: rgba(255, 0, 0, 0.186);
}

nav > ul > li > .logout:hover {
  background: rgba(255, 0, 0, 0.5);
  color: #f1f1f1;
}

@media (1366px <= width < 1920px) {
  nav > ul > li > .navlink {
    height: 50px;
    font-size: 1.2rem;
  }
}

@media (1280px <= width < 1366px) {
}

@media (1024px <= width < 1280px) {
}

@media (768px <= width < 1024px) {
}

@media (width < 768px) {
}
