.table-button-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50px;
  height: 100%;
  margin: 0 auto;
  background-color: transparent;
  color: #242424;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-family: "Exo";
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.table-button-style > svg {
  font-size: 2.3rem;
  transition: all 0.2s ease-in-out;
}

.table-button-style:hover > svg {
  transform: scale(1.1);
}

.info-style > svg {
  color: #363636;
}

.info-style:hover > svg {
  color: #242424;
  filter: drop-shadow(0 0 15px #00000086);
}

.confirm-style > svg {
  color: #49cc90;
}

.confirm-style:hover > svg {
  color: #2fbf71;
  filter: drop-shadow(0 0 15px #00ff00);
}

.cancel-style > svg {
  color: #ff3c4e;
}

.cancel-style:hover > svg {
  color: #f02e3e;
  filter: drop-shadow(0 0 15px #ff0000);
}

.edit-style > svg {
  color: #fe9f32;
}

.edit-style:hover > svg {
  color: #ff9113;
  filter: drop-shadow(0 0 15px #ff9113);
}

.invoice-style > svg {
  color: #626311;
}

.invoice-style:hover > svg {
  color: #9c5100;
  filter: drop-shadow(0 0 15px #9c5100);
}
@media (768px <= width < 1024px) {
  .table-button-style {
    width: 40px;
    height: 40px;
    padding: 5px;
  }

  .table-button-style > svg {
    font-size: 1.8rem;
  }
  .icon-container > svg {
    width: 30px;
    height: 30px;
  }
}

@media (width < 768px) {
  .table-button-style {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .table-button-style > svg {
    font-size: 1.5rem;
  }
  .icon-container > svg {
    width: 20px;
    height: 20px;
  }
}
