.analyst-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lineChart {
    width: 85%;
    margin: 25px 5px 5px 0px;
}

.analyst-boxes{
    display: flex;
    align-items: center;
}

.analyst-card{
    margin-right:1%;
}

.barChart{
    text-align: center;
    width: 100%;
}

.rdrDefinedRangesWrapper {
    display: none;
}