.analyst-div{
    display: flex;
    justify-content: space-between;
}

.analyst-table{
    color:white;
    width: 25%;
}

.charts{
    color:rgb(0, 0, 0);
    width: 70%;
}

.lineChart {
    margin: 25px 5px 5px 0px;
}