.analyst-div{
    display: flex;
    justify-content: space-between;
}

.analyst-table{
    color:white;
    width: 25%;
}

.charts{
    display: flex;
}

.analyst-boxes{
    display: flex;
    margin-bottom: 1%;
}

.analyst-card{
    margin-right:1%;
}

.lineChart {
    width: 80%;
    margin: 25px 5px 5px 0px;
}