.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(
    100vh - 260px
  ); /* 80px is the height of the header, so the dashboard will take the rest of the screen */
  gap: 30px;
}

.dashboard-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  background-color: rgb(163, 0, 0);
}

.activities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: rgb(5, 163, 0);
}
