.table-container {
  width: 100%;
  overflow: auto;
  position: relative;
}

.table-container::-webkit-scrollbar {
  width: 4px;
}

.table-container::-webkit-scrollbar-track {
  background: transparent;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #252525;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

table {
  width: 100%;
  background-color: #e7e7e7;
  color: black;
  border-spacing: 0;
  border-collapse: collapse;
  margin: auto;
  font-family: "Exo";
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  border-radius: 5px;
}

thead {
  position: sticky;
  top: 0;
  background-color: #242424;
  color: #b8b8b8;
}

tbody {
  color: #131313;
}

th,
td {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #b8b8b8;
}

th[data-column="Details"],
th[data-column="Confirm Entry"],
th[data-column="Confirm Dispatch"],
th[data-column="Expiration"],
th[data-column="Cancel"],
th[data-column="Modify user"],
th[data-column="Delete user"],
th[data-column="Active"],
th[data-column="Dispatch Status"],
th[data-column="Income status"],
td[data-column="object"] {
  text-align: center;
}

tbody > tr:hover {
  background-color: #dfdede;
}

.table-container thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #242424;
  color: #b8b8b8;
}

.table-container thead th:first-child {
  border-top-left-radius: 5px;
}

.table-container thead th:last-child {
  border-top-right-radius: 5px;
}

.no-table-message {
  font-family: "Exo";
  font-size: 20px;
  font-weight: 700;
  color: #990404;
}

.status-icon {
  font-size: 2.3rem !important;
}

.check-icon {
  color: #0e990e;
}

.nodispatched-icon {
  color: #990404;
}

.pending-icon {
  color: #9c9a00;
}
