table {
  width: 80%;
  background-color: #b6b6b6;
  color: aliceblue;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}

table > thead {
  background-color: #18467a;
}

table > tbody {
  color: #131313;
}

th,
tr,
td {
  padding: 1vh;
  text-align: center;
  font-family: "Exo";
  font-weight: 900;
  font-size: 1.2vh;
}

tr:nth-child(even) {
  background-color: #999898;
}
tbody > tr:hover {
  background-color: #81b6719d;
}
