.purchase-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #15b62b;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 300px;
  height: 100px;
  text-align: center;
  font-family: "exo";
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.purchase-button:hover {
  background-color: #44b939d0;
}

.purchase-button svg {
  font-size: 50px;
}
