/*
    * basic details img
*/

.basic-settings-img-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.basic-settings-img {
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.basic-settings-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: transparent;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 5;
}

.basic-settings-avatar:hover {
  background-color: #3d3d3d;
  box-shadow: 0 0 0 5px #3d3d3d50;
  cursor: pointer;
}

.basic-settings-avatar:hover > span {
  position: absolute;
  color: #fff;
  user-select: none;
  transition: all 0.4s ease-in-out;
}
.basic-settings-avatar > span {
  position: absolute;
  font-size: 20px;
  color: transparent;
  transition: all 0.2s ease-in-out;
}

.basic-settings-avatar > img {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #383838;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.basic-settings-avatar > button {
  position: absolute;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  bottom: 25px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  z-index: 15;
}

.basic-settings-avatar > button > svg {
  font-size: 40px;
  color: transparent;
  transition: all 0.4s ease-in-out;
}

.basic-settings-avatar:hover > button {
  background-color: #3a3a3a;
  cursor: pointer;
}

.basic-settings-avatar:hover > img {
  opacity: 0.5;
  cursor: pointer;
}

.basic-settings-avatar:hover > button > svg {
  color: #f1f1f1;
}

.basic-settings-avatar:hover > button:hover > svg {
  color: #ac0202;
}

.basic-settings-avatar:hover > button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.basic-settings-input-file {
  position: absolute;
  width: 100%;
  height: 100%;
  color: transparent;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  z-index: 10;
}

.basic-settings-avatar > svg {
  color: #383838;
  font-size: 200px;
}

/*
    * basic details inputs
*/

.basic-settings-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 50%;
  height: auto;
}

.input-and-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.input-content > input {
  width: 85%;
}

.input-and-button > input {
  width: 100%;
  height: 100%;
}

.input-and-button > button {
  width: 15%;
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 700;
  font-family: "Exo";
  color: #1f1f1f;
  transition: 0.3s;
}

.input-and-button > button:hover {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
