main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px 100px;
}

.area-title {
  font-family: "Exo";
  font-size: 40px;
  font-weight: 700;
  color: #242424;
}

.area-subtitle {
  font-family: "Exo";
  font-size: 30px;
  font-weight: 700;
  color: #242424;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
