.alert-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 600;
  display: flex;
  justify-content: center;
}

.alert-box {
  position: relative;
  top: 0;
  width: auto;
  max-width: 90%;
  height: auto;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 610;
  display: grid;
  place-items: center;
  animation: slide-down 0.6s ease-in-out forwards;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    visibility: hidden;
    top: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 50px;
  }
}

.alert-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.close-alert-button {
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 620;
  transition: all 0.2s ease-in-out;
}

.alert-content > svg {
  width: 50px;
  height: 50px;
  z-index: 620;
}

.alert-content > p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #333c43;
}

.error {
  border: 2px solid #ae5e5f;
  background-color: #fbe7e8;
}

.error > .alert-content > svg,
.error > .alert-content > .close-alert-button {
  color: #fc4342;
}

.success {
  border: 2px solid #7eaf98;
  background-color: #e7f6ef;
}

.success > .alert-content > svg,
.success > .alert-content > .close-alert-button {
  color: #49cc90;
}

.warning {
  border: 2px solid #d0a77f;
  background-color: #fbf1e7;
}

.warning > .alert-content > svg,
.warning > .alert-content > .close-alert-button {
  color: #fe9f32;
}

.info {
  border: 2px solid #87a7c9;
  background-color: #ebf4fb;
}

.info > .alert-content > svg,
.info > .alert-content > .close-alert-button {
  color: #60b0ff;
}

.close-alert-button:hover {
  color: #990e0e !important;
  transform: scale(1.1);
}

@media (1024px <= width < 1920px) {
  .alert-content > svg {
    width: 40px;
    height: 40px;
  }

  .alert-content > p {
    font-size: 1.5rem;
  }
}

@media (width < 768px) {
  .alert-content > svg {
    width: 30px;
    height: 30px;
  }

  .alert-content > p {
    font-size: 1.2rem;
  }
}
