.alert-box {
  width: auto;
  height: 50px;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
  z-index: 150;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.alert-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.alert-content > svg {
  width: 30px;
  height: 30px;
}

.alert-content > p {
  font-size: 1.2rem;
  font-weight: 400;
}

.error {
  background-color: #c21f1f4d;
}

.error > .alert-content > p {
  color: rgb(104, 0, 0);
}
.error > .alert-content > svg {
  color: rgb(255, 0, 0);
}

.success {
  background-color: #1fc21f4d;
}

.success > .alert-content > p {
  color: rgb(0, 104, 0);
}
.success > .alert-content > svg {
  color: rgb(0, 146, 0);
}

.warning {
  background-color: #c2c21f4d;
}

.warning > .alert-content > p {
  color: rgb(104, 104, 0);
}
.warning > .alert-content > svg {
  color: rgb(255, 238, 0);
}

.info {
  background-color: #1fc2c21f;
}

.info > .alert-content > p {
  color: rgb(0, 54, 104);
}
.info > .alert-content > svg {
  color: rgb(0, 72, 206);
}
