header {
  background: rgb(0, 89, 76);
  background: linear-gradient(
    90deg,
    rgba(0, 89, 76, 1) 0%,
    rgba(79, 32, 13, 1) 0%,
    rgba(255, 217, 61, 1) 100%,
    rgba(255, 132, 0, 1) 100%
  );
  height: 70px;
  line-height: 60px;
  padding: 0 20px;
  width: 100%;
  z-index: 50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header > a {
  color: #242424;
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
}
