.pending-table-button {
  display: grid;
  place-items: center;
  margin: auto;
  font-family: "Exo";
  font-size: 20px;
  font-weight: 700;
  background-color: #3b82f6;
  color: #f3f7fe;
  border: none;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.pending-table-button:hover {
  background-color: #60b12a;
  box-shadow: 0 0 0 5px #4ec00381;
  cursor: pointer;
}

.pending-table-button svg {
  font-size: 30px;
}

.expiration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.expiration-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  height: 100%;
}

.expiration-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-family: "Exo";
  font-size: 20px;
  font-weight: 700;
  background-color: #3b82f6;
  color: #f3f7fe;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  transition: 0.3s;
}

.expiration-yes {
  background-color: #60b12a;
}

.expiration-no {
  background-color: #f63b3b;
}

.expiration-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.expiration-yes:hover {
  background-color: #60b12a;
  box-shadow: 0 0 0 5px #60b12a5f;
}

.expiration-no:hover {
  background-color: #f63b3b;
  box-shadow: 0 0 0 5px #f63b3b5f;
}
