.parameters-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid rgb(189, 189, 189);
}

.parameters-icon-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.parameters-icon-title > span {
  font-size: 1.5rem;
}

.parameters-icon-title > svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.parameters-value {
  font-size: 1.5rem;
}
